
.cards {
  width: 30%;
  margin: 20px auto;
  background: white;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  -webkit-transition:  box-shadow .2s ease-out;
  box-shadow: .8px .9px 3px grey;
  display:block;
  }




  .cards:hover{ 
       box-shadow: 20px 8px 20px grey;
      -webkit-transition:  box-shadow .2s ease-in;
      opacity: .8;
    }

/**Body text*/
.bodyText {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
}

/* .cards:nth-of-type(6n-5){
  
 opacity: .5;
}

.cards:nth-of-type(6n-5):hover{ 
  opacity: 1;
} */


ul{
  list-style-type: none;
  margin-right: 5%
}

li{
  margin-top: 2%;
}

.imageLogo {
  width: 10%;
  margin: 110px 45% 50px 45%
}

@media only screen and (max-width: 650px) {
  .cards {
    width: 80%;
    margin: 20px auto;
  }

  .imageLogo {
    width: 26%;
    margin: 110px 37% 50px 37%
  }
  ul{
 
    margin-right: 15%
  }
  li{
    margin-top: 6%;
  }
}
